// .utils__content {
//   padding: 0 !important;
// }

// .menuTop {
//   z-index: 1 !important;
//   right: 0 !important;
//   background: transparent !important;
//   background-color: #282c34 !important;

//   ul, li {
//     background: transparent;
//   }

//   a > span {
//     cursor: pointer !important;
//     color: #fff !important;
//   }

//   ul {
//     border: 1px solid transparent !important;
//   }

//   ul > li:hover {
//     border-color: transparent !important;
//   }
// }

.playlist {
  // position: relative;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-y: hidden;
  top: 50px;

  &__wapper {
    width: 90%;
  }
}

.ant-notification-notice {
  background-color: #545a64;

  div {
    color: #fff !important;
  }
}
